@mixin dashicon-content($content) {
        content: $content;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        font: normal 20px/1 'dashicons';
        vertical-align: middle;
        padding-left: 4px;
}

.dashicon-menu-home:after { @include dashicon-content($icon__menu-home) }
.dashicon-menu-sitemap:after { @include dashicon-content($icon__menu-sitemap) }
.dashicon-menu-art:after { @include dashicon-content($icon__menu-art) }
.dashicon-menu-music:after { @include dashicon-content($icon__menu-music) }
.dashicon-menu-blog:after { @include dashicon-content($icon__menu-blog) }
.dashicon-menu-software:after { @include dashicon-content($icon__menu-software) }