.primary-menu-container {
        height: 300px; // temp
}

.primary-menu.sf-menu {
        position: absolute;
        top: 0;
        right: 0;
}
/*
.author-navigation {
        float: left;
        //width: 61.8%;
        min-width: 100px;
        border: 1px solid #55d737;
}

.author-navigation {
        width: 61.8%;
}
*/
.author-navigation {
        position: absolute;
        right: $size__site-header-min - 100px;
        bottom: 38.2%;
        
        &:after {
                content: "About Me";
                position: absolute;
                top: 102px;
                left: 16px;
                color: $color__text-title;
        }
}

@media screen and (max-width: 599px) {
    .author-navigation {
        
    }
}

/* Small menu */
.menu-toggle {
	display: none;
}
/*
@media screen and (max-width: 599px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
*/